<h5 class="text-center tituloSide">SRM Carúpano</h5>
<div class="logoDiv">
    <div class="imgLogo">
        <img src="assets/admin/logoSRMTransparente.png"  alt="Logo Seminario">
    </div>
</div>
<div class="sideLinks text-center">
    <ul>
        <li routerLinkActive="linkActive">
            <a class="d-block" [routerLink]="['inicio']">Inicio</a>
        </li>
        <li routerLinkActive="linkActive">
            <a class="d-block" [routerLink]="['libros','ver-libro']">Libros</a>
        </li>
        <li routerLinkActive="linkActive">
          <a class="d-block" [routerLink]="['modulos-extras']">Modulos Extras</a>
        </li>
        <li routerLinkActive="linkActive">
            <a class="d-block">Prestamos</a>
        </li>
    </ul>
</div>
